<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h1>Proyeecto de Angular</h1>

<header>
<ul>
<li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['active']" >Sobre MI</a></li>
<li><a [routerLink]="['/proyectos']" [routerLinkActive]="['active']" >Proyectos</a></li>
<li id="logo"><a href="#">JL</a></li>
<li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['active']" >Crear proyecto</a></li>
<li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']" >Contacto</a></li>
</ul>
</header>

<section id="content">

<router-outlet></router-outlet>
</section>

<footer>
  Jonathan Lopez en JS &copy; 2019
</footer>

<!--  -->